[submodule "src/apriltag"]
	path = src/apriltag
	url = https://github.com/berndpfrommer/apriltag.git
[submodule "src/bgp"]
	path = src/bgp
	url = https://github.com/berndpfrommer/bgp.git
	branch = master
[submodule "src/flea3"]
	path = src/flea3
	url = https://github.com/berndpfrommer/flea3.git
	branch = master
[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
	branch = master
[submodule "src/bird_recording"]
	path = src/bird_recording
	url = https://github.com/daniilidis-group/bird_recording.git
	branch = master
[submodule "src/cam_sync"]
	path = src/cam_sync
	url = https://github.com/daniilidis-group/cam_sync.git
[submodule "src/tagslam"]
	path = src/tagslam
	url = https://github.com/berndpfrommer/tagslam.git
[submodule "src/audio_common"]
	path = src/audio_common
	url = https://github.com/daniilidis-group/audio_common.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "src/downsampling_image_transport"]
	path = src/downsampling_image_transport
	url = https://github.com/daniilidis-group/downsampling_image_transport.git
[submodule "src/ffmpeg_image_transport_msgs"]
	path = src/ffmpeg_image_transport_msgs
	url = https://github.com/daniilidis-group/ffmpeg_image_transport_msgs.git
[submodule "src/ffmpeg_image_transport_tools"]
	path = src/ffmpeg_image_transport_tools
	url = https://github.com/daniilidis-group/ffmpeg_image_transport_tools.git
[submodule "src/flex_sync"]
	path = src/flex_sync
	url = https://github.com/daniilidis-group/flex_sync.git
[submodule "src/bird_audio"]
	path = src/bird_audio
	url = https://github.com/daniilidis-group/bird_audio.git
[submodule "src/ros_nagios_diagnostics"]
	path = src/ros_nagios_diagnostics
	url = https://github.com/berndpfrommer/ros_nagios_diagnostics.git
[submodule "src/ffmpeg_image_transport"]
	path = src/ffmpeg_image_transport
	url = https://github.com/daniilidis-group/ffmpeg_image_transport.git
[submodule "camera_base"]
	path = camera_base
	url = https://github.com/berndpfrommer/camera_base.git
[submodule "src/annotator"]
	path = src/annotator
	url = https://github.com/daniilidis-group/annotator.git
